{% url 'dashboard' as dashboard %}
{% url 'salary-dashboard' as salary_dashboard %}
{% url 'salary-breakdown' as salary_breakdown %}
{% url 'attd-leave-request' as leave_request %}
{% url 'attd-register-attd' as attd_entry %}
{% url 'attd-leave-review' as leave_rev %}
{% load users_tags %}
<!-- kt-menu__item--active -->
<!-- begin:: Aside Menu -->
<div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
	<div id="kt_aside_menu" class="kt-aside-menu " data-ktmenu-vertical="1" data-ktmenu-scroll="1" data-ktmenu-dropdown-timeout="500">
		<ul class="kt-menu__nav ">
			<li class="kt-menu__item {% if request.get_full_path == dashboard %} kt-menu__item--active {% endif %}" aria-haspopup="true"><a href="{% url 'dashboard' %}" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Dashboard</span></a></li>
			{% if user|is_guard %}
			<li class="kt-menu__section ">
				<h4 class="kt-menu__section-text">Guards Panel</h4>
				<i class="kt-menu__section-icon flaticon-more-v2"></i>
			</li>
			<!-- <li class="kt-menu__item {% if request.get_full_path == salary_dashboard %} kt-menu__item--active {% endif %}" aria-haspopup="true"><a href="{% url 'salary-dashboard' %}" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Salary Dashboard</span></a></li> -->
			<li class="kt-menu__item {% if request.get_full_path == salary_breakdown %} kt-menu__item--active {% endif %}" aria-haspopup="true"><a href="{% url 'salary-breakdown' %}" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Salary Breakdowns</span></a></li>
			<li class="kt-menu__item {% if request.get_full_path == leave_request %} kt-menu__item--active {% endif %}" aria-haspopup="true"><a href="{% url 'attd-leave-request' %}" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Leave Request</span></a></li>

			{% endif %}

			{% if user|is_manager %}
			<li class="kt-menu__section ">
				<h4 class="kt-menu__section-text">Manager Panel</h4>
				<i class="kt-menu__section-icon flaticon-more-v2"></i>
			</li>

			<li class="kt-menu__item {% if request.get_full_path == attd_entry %} kt-menu__item--active {% endif %}" aria-haspopup="true"><a href="{% url 'attd-register-attd' %}" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Attendance Entry &amp Validation</span></a></li>
			<li class="kt-menu__item {% if request.get_full_path == leave_rev %} kt-menu__item--active {% endif %}" aria-haspopup="true"><a href="{% url 'attd-leave-review' %}" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Leave Review</span></a></li>
			{% endif %}

		</ul>
	</div>
</div>

<!-- end:: Aside Menu -->