{% extends 'nexus/layout.html' %}
{% block content %}
    <h1>Manager Leave Approval</h1>
    <div class="col-lg-12 col-xl-8 order-lg-1 order-xl-1">
        <!--begin::Portlet-->
        <div class="kt-portlet kt-portlet--height-fluid kt-widget-17">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Latest Orders
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-toolbar-wrapper">
                        <div class="dropdown dropdown-inline">
                            <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="flaticon-more-1"></i> </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <ul class="kt-nav">
                                    <li class="kt-nav__section kt-nav__section--first"> <span class="kt-nav__section-text">Export Tools</span> </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link"> <i class="kt-nav__link-icon la la-print"></i> <span class="kt-nav__link-text">Print</span> </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link"> <i class="kt-nav__link-icon la la-copy"></i> <span class="kt-nav__link-text">Copy</span> </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link"> <i class="kt-nav__link-icon la la-file-excel-o"></i> <span class="kt-nav__link-text">Excel</span> </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link"> <i class="kt-nav__link-icon la la-file-text-o"></i> <span class="kt-nav__link-text">CSV</span> </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link"> <i class="kt-nav__link-icon la la-file-pdf-o"></i> <span class="kt-nav__link-text">PDF</span> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-widget-17">
                    <div class="kt-widget-17__item">
                        <div class="kt-widget-17__product">
                            <div class="kt-widget-17__thumb">
                                <a href="#">
                                    <img src="../../assets/media/blog/7.jpg" class="kt-widget-17__image" alt="" title="" />
                                </a>
                            </div>
                            <div class="kt-widget-17__product-desc">
                                <a href="#">
                                    <div class="kt-widget-17__title"> Dark Blue Shoes - Limited Collection </div>
                                </a>
                                <div class="kt-widget-17__sku"> SKU: 08451345264 </div>
                            </div>
                        </div>
                        <div class="kt-widget-17__prices">
                            <div class="kt-widget-17__unit"> $38.00 <span>x</span> 2 </div>
                            <div class="kt-widget-17__total"> $76.00 </div>
                        </div>
                    </div>
                    <div class="kt-widget-17__item">
                        <div class="kt-widget-17__product">
                            <div class="kt-widget-17__thumb">
                                <a href="#">
                                    <img src="../../assets/media/blog/8.jpg" class="kt-widget-17__image" alt="" title="" />
                                </a>
                            </div>
                            <div class="kt-widget-17__product-desc">
                                <a href="#">
                                    <div class="kt-widget-17__title"> Converse Sneakers - Red, Green & White </div>
                                </a>
                                <div class="kt-widget-17__sku"> SKU: 08451345244 </div>
                            </div>
                        </div>
                        <div class="kt-widget-17__prices">
                            <div class="kt-widget-17__unit"> $92.00 <span>x</span> 1 </div>
                            <div class="kt-widget-17__total"> $92.00 </div>
                        </div>
                    </div>
                    <div class="kt-widget-17__item">
                        <div class="kt-widget-17__product">
                            <div class="kt-widget-17__thumb">
                                <a href="#">
                                    <img src="../../assets/media/blog/12.jpg" class="kt-widget-17__image" alt="" title="" />
                                </a>
                            </div>
                            <div class="kt-widget-17__product-desc">
                                <a href="#">
                                    <div class="kt-widget-17__title"> Merrell - Best Hiking Shoes </div>
                                </a>
                                <div class="kt-widget-17__sku"> SKU: 08451345285 </div>
                            </div>
                        </div>
                        <div class="kt-widget-17__prices">
                            <div class="kt-widget-17__unit"> $224.00 <span>x</span> 1 </div>
                            <div class="kt-widget-17__total"> $224.00 </div>
                        </div>
                    </div>
                    <div class="kt-widget-17__item">
                        <div class="kt-widget-17__product">
                            <div class="kt-widget-17__thumb">
                                <a href="#">
                                    <img src="../../assets/media/blog/11.jpg" class="kt-widget-17__image" alt="" title="" />
                                </a>
                            </div>
                            <div class="kt-widget-17__product-desc">
                                <a href="#">
                                    <div class="kt-widget-17__title"> Ray Ban - Green Sunglasses </div>
                                </a>
                                <div class="kt-widget-17__sku"> SKU: 08451345239 </div>
                            </div>
                        </div>
                        <div class="kt-widget-17__prices">
                            <div class="kt-widget-17__unit"> $109.00 <span>x</span> 3 </div>
                            <div class="kt-widget-17__total"> $327.00 </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__foot kt-portlet__foot--md">
                <div class="kt-widget-17__foot">
                    <div class="kt-widget-17__foot-info"></div>
                    <div class="kt-widget-17__foot-toolbar"> <a href="#" class="btn btn-default btn-sm btn-bold btn-upper">Preview</a> <a href="#" class="btn btn-brand btn-sm btn-upper btn-bold">Approve</a> </div>
                </div>
            </div>
        </div>
        <!--end::Portlet-->
    </div>
    <div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">
        <!--begin::Portlet-->
        <div class="kt-portlet kt-portlet--height-fluid kt-portlet--tabs">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Latest Tasks 
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-brand nav-tabs-bold" role="tablist">
                        <li class="nav-item"> <a class="nav-link active show" data-toggle="tab" href="#kt_portlet_tabs_1_1_content" role="tab" aria-selected="false"> Today </a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#kt_portlet_tabs_1_2_content" role="tab" aria-selected="false"> Week </a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#kt_portlet_tabs_1_3_content" role="tab" aria-selected="true"> Month </a> </li>
                    </ul>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="kt_portlet_tabs_1_1_content" role="tabpanel">
                        <div class="kt-widget-5">
                            <div class="kt-widget-5__item kt-widget-5__item--info">
                                <div class="kt-widget-5__item-info">
                                    <a href="#" class="kt-widget-5__item-title"> Management meeting </a> 
                                    <div class="kt-widget-5__item-datetime"> 09:30 AM </div>
                                </div>
                                <div class="kt-widget-5__item-check">
                                    <label class="kt-radio">
                                        <input type="radio" checked="checked" name="radio1">
                                        <span></span> 
                                    </label>
                                </div>
                            </div>
                            <div class="kt-widget-5__item kt-widget-5__item--danger">
                                <div class="kt-widget-5__item-info">
                                    <a href="#" class="kt-widget-5__item-title"> Replace datatables rows color </a> 
                                    <div class="kt-widget-5__item-datetime"> 12:00 AM </div>
                                </div>
                                <div class="kt-widget-5__item-check">
                                    <label class="kt-radio">
                                        <input type="radio" checked="checked" name="radio1">
                                        <span></span> 
                                    </label>
                                </div>
                            </div>
                            <div class="kt-widget-5__item kt-widget-5__item--brand">
                                <div class="kt-widget-5__item-info">
                                    <a href="#" class="kt-widget-5__item-title"> Export Navitare booking table </a> 
                                    <div class="kt-widget-5__item-datetime"> 01:20 PM </div>
                                </div>
                                <div class="kt-widget-5__item-check">
                                    <label class="kt-radio">
                                        <input type="radio" checked="checked" name="radio1">
                                        <span></span> 
                                    </label>
                                </div>
                            </div>
                            <div class="kt-widget-5__item kt-widget-5__item--success">
                                <div class="kt-widget-5__item-info">
                                    <a href="#" class="kt-widget-5__item-title"> NYCS internal discussion </a> 
                                    <div class="kt-widget-5__item-datetime"> 03: 00 PM </div>
                                </div>
                                <div class="kt-widget-5__item-check">
                                    <label class="kt-radio">
                                        <input type="radio" checked="checked" name="radio1">
                                        <span></span> 
                                    </label>
                                </div>
                            </div>
                            <div class="kt-widget-5__item kt-widget-5__item--danger">
                                <div class="kt-widget-5__item-info">
                                    <a href="#" class="kt-widget-5__item-title"> Project Launch </a> 
                                    <div class="kt-widget-5__item-datetime"> 11: 00 AM </div>
                                </div>
                                <div class="kt-widget-5__item-check">
                                    <label class="kt-radio">
                                        <input type="radio" checked="checked" name="radio1">
                                        <span></span> 
                                    </label>
                                </div>
                            </div>
                            <div class="kt-widget-5__item kt-widget-5__item--success">
                                <div class="kt-widget-5__item-info">
                                    <a href="#" class="kt-widget-5__item-title"> Server maintenance </a> 
                                    <div class="kt-widget-5__item-datetime"> 4: 30 PM </div>
                                </div>
                                <div class="kt-widget-5__item-check">
                                    <label class="kt-radio">
                                        <input type="radio" checked="checked" name="radio1">
                                        <span></span> 
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="kt_portlet_tabs_1_2_content" role="tabpanel">
                        <div class="kt-widget-5">
                            <div class="kt-widget-5__item kt-widget-5__item--brand">
                                <div class="kt-widget-5__item-info">
                                    <a href="#" class="kt-widget-5__item-title"> Export Navitare booking table </a> 
                                    <div class="kt-widget-5__item-datetime"> 01:20 PM </div>
                                </div>
                                <div class="kt-widget-5__item-check">
                                    <label class="kt-radio">
                                        <input type="radio" checked="checked" name="radio1">
                                        <span></span> 
                                    </label>
                                </div>
                            </div>
                            <div class="kt-widget-5__item kt-widget-5__item--danger">
                                <div class="kt-widget-5__item-info">
                                    <a href="#" class="kt-widget-5__item-title"> Replace datatables rows color </a> 
                                    <div class="kt-widget-5__item-datetime"> 12:00 AM </div>
                                </div>
                                <div class="kt-widget-5__item-check">
                                    <label class="kt-radio">
                                        <input type="radio" checked="checked" name="radio1">
                                        <span></span> 
                                    </label>
                                </div>
                            </div>
                            <div class="kt-widget-5__item kt-widget-5__item--brand">
                                <div class="kt-widget-5__item-info">
                                    <a href="#" class="kt-widget-5__item-title"> Export Navitare booking table </a> 
                                    <div class="kt-widget-5__item-datetime"> 01:20 PM </div>
                                </div>
                                <div class="kt-widget-5__item-check">
                                    <label class="kt-radio">
                                        <input type="radio" checked="checked" name="radio1">
                                        <span></span> 
                                    </label>
                                </div>
                            </div>
                            <div class="kt-widget-5__item kt-widget-5__item--danger">
                                <div class="kt-widget-5__item-info">
                                    <a href="#" class="kt-widget-5__item-title"> Replace datatables rows color </a> 
                                    <div class="kt-widget-5__item-datetime"> 12:00 AM </div>
                                </div>
                                <div class="kt-widget-5__item-check">
                                    <label class="kt-radio">
                                        <input type="radio" checked="checked" name="radio1">
                                        <span></span> 
                                    </label>
                                </div>
                            </div>
                            <div class="kt-widget-5__item kt-widget-5__item--success">
                                <div class="kt-widget-5__item-info">
                                    <a href="#" class="kt-widget-5__item-title"> NYCS internal discussion </a> 
                                    <div class="kt-widget-5__item-datetime "> 03: 00 PM </div>
                                </div>
                                <div class="kt-widget-5__item-check ">
                                    <label class="kt-radio">
                                        <input type="radio" checked="checked" name="radio1">
                                        <span></span> 
                                    </label>
                                </div>
                            </div>
                            <div class="kt-widget-5__item kt-widget-5__item--info ">
                                <div class="kt-widget-5__item-info ">
                                    <a href="#" class="kt-widget-5__item-title"> Management meeting </a> 
                                    <div class="kt-widget-5__item-datetime "> 09:30 AM </div>
                                </div>
                                <div class="kt-widget-5__item-check ">
                                    <label class="kt-radio">
                                        <input type="radio" checked="checked" name="radio1">
                                        <span></span> 
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade " id="kt_portlet_tabs_1_3_content" role="tabpanel">
                        <div class="kt-widget-5 ">
                            <div class="kt-widget-5__item kt-widget-5__item--success">
                                <div class="kt-widget-5__item-info ">
                                    <a href="#" class="kt-widget-5__item-title"> NYCS internal discussion </a> 
                                    <div class="kt-widget-5__item-datetime"> 03: 00 PM </div>
                                </div>
                                <div class="kt-widget-5__item-check">
                                    <label class="kt-radio">
                                        <input type="radio" checked="checked" name="radio1">
                                        <span></span> 
                                    </label>
                                </div>
                            </div>
                            <div class="kt-widget-5__item kt-widget-5__item--danger">
                                <div class="kt-widget-5__item-info ">
                                    <a href="#" class="kt-widget-5__item-title"> Replace datatables rows color </a> 
                                    <div class="kt-widget-5__item-datetime"> 12:00 AM </div>
                                </div>
                                <div class="kt-widget-5__item-check">
                                    <label class="kt-radio">
                                        <input type="radio" checked="checked" name="radio1">
                                        <span></span> 
                                    </label>
                                </div>
                            </div>
                            <div class="kt-widget-5__item kt-widget-5__item--danger">
                                <div class="kt-widget-5__item-info">
                                    <a href="#" class="kt-widget-5__item-title"> Replace datatables rows color </a> 
                                    <div class="kt-widget-5__item-datetime"> 12:00 AM </div>
                                </div>
                                <div class="kt-widget-5__item-check">
                                    <label class="kt-radio">
                                        <input type="radio" checked="checked" name="radio1">
                                        <span></span> 
                                    </label>
                                </div>
                            </div>
                            <div class="kt-widget-5__item kt-widget-5__item--brand">
                                <div class="kt-widget-5__item-info">
                                    <a href="#" class="kt-widget-5__item-title"> Export Navitare booking table </a> 
                                    <div class="kt-widget-5__item-datetime"> 01:20 PM </div>
                                </div>
                                <div class="kt-widget-5__item-check">
                                    <label class="kt-radio">
                                        <input type="radio" checked="checked" name="radio1">
                                        <span></span> 
                                    </label>
                                </div>
                            </div>
                            <div class="kt-widget-5__item kt-widget-5__item--brand">
                                <div class="kt-widget-5__item-info ">
                                    <a href="#" class="kt-widget-5__item-title"> Export Navitare booking table </a> 
                                    <div class="kt-widget-5__item-datetime "> 01:20 PM </div>
                                </div>
                                <div class="kt-widget-5__item-check">
                                    <label class="kt-radio">
                                        <input type="radio" checked="checked" name="radio1">
                                        <span></span> 
                                    </label>
                                </div>
                            </div>
                            <div class="kt-widget-5__item kt-widget-5__item--info">
                                <div class="kt-widget-5__item-info ">
                                    <a href="#" class="kt-widget-5__item-title"> Management meeting </a> 
                                    <div class="kt-widget-5__item-datetime"> 09:30 AM </div>
                                </div>
                                <div class="kt-widget-5__item-check">
                                    <label class="kt-radio">
                                        <input type="radio" checked="checked" name="radio1">
                                        <span></span> 
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Portlet-->
    </div>


{% endblock content %}