{% extends 'nexus/layout.html' %}
{% block content %}
{{ form.media }}            {# Adds date-picker required JS and CSS #}
<div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="kt-portlet">
        <div class="kt-portlet__body kt-portlet__body--fit">
            <div class="kt-grid kt-grid--desktop-xl kt-grid--ver-desktop-xl kt-wizard-v2" id="kt_wizard_v2" data-ktwizard-state="step-first">
                <div class="kt-grid__item kt-wizard-v2__aside">
                    <!--begin: Form Wizard Nav -->
                    <div class="kt-wizard-v2__nav">
                        <div class="kt-wizard-v2__nav-items">
                            <a class="kt-wizard-v2__nav-item" href="#" data-ktwizard-type="step" data-ktwizard-state="current"> <span>1</span><i class="fa fa-check"></i> Verify Information </a>
                            <a class="kt-wizard-v2__nav-item" href="#" data-ktwizard-type="step"> <span>2</span><i class="fa fa-check"></i> Select Date </a>
                            <a class="kt-wizard-v2__nav-item" href="#" data-ktwizard-type="step"> <span>3</span><i class="fa fa-check"></i> State Reasons </a>
                            <a class="kt-wizard-v2__nav-item" href="#" data-ktwizard-type="step"> <span>4</span><i class="fa fa-check"></i> Upload Supporting Documents </a>
                            <!--<a class="kt-wizard-v2__nav-item" href="#" data-ktwizard-type="step"> <span>5</span><i class="fa fa-check"></i> Finalize your request </a> -->
                        </div>
                    </div>
                    <!--end: Form Wizard Nav -->
                </div>
                <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v2__wrapper">
                    <!--begin: Form Wizard Form-->
                    <form action="/leaveform/" method="POST" enctype="multipart/form-data" id="kt_form">
                        <!--begin: Form Wizard Step 1-->
                        <div class="kt-wizard-v2__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                            <div class="kt-heading kt-heading--md">Verify your informations</div>
                            <div class="kt-separator kt-separator--height-xs"></div>
                            <div class="kt-form__section kt-form__section--first">
                                <h>{{ user.username }}</h>
                            </div>
                        </div>
                        <!--end: Form Wizard Step 1-->
                        <!--begin: Form Wizard Step 2-->
                        <div class="kt-wizard-v2__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                            <div class="kt-heading kt-heading--md">Choose Date and Time</div>
                            <div class="kt-separator kt-separator--height-xs"></div>
                            <div class="kt-form__section kt-form__section--first"></div>
                            <div class="form-group row">
                                {% csrf_token %}
                                {{ form }}
                            </div>
                        </div>
                        <!--end: Form Wizard Step 2-->
                        <!--begin: Form Wizard Step 3-->
                        <div class="kt-wizard-v2__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                            <div class="kt-heading kt-heading--md">State Reasons</div>
                            <div class="kt-separator kt-separator--height-xs"></div>
                            <div class="kt-form__section kt-form__section--first">
                                <textarea class="form-control" name="reason" id="reason" rows="3"></textarea>
                            </div>
                        </div>
                        <!--end: Form Wizard Step 3-->
                        <!--begin: Form Wizard Step 4-->
                        <div class="kt-wizard-v2__content" data-ktwizard-type="step-content">
                            <div class="kt-heading kt-heading--md">Upload Supporting Documents</div>
                            <div class="kt-separator kt-separator--height-xs"></div>
                            <div class="kt-form__section kt-form__section--first"></div>
                            <div class="form-group row">
                                    {% csrf_token %}
                                    <input type="file" name="supDoc">
                                    <button type="submit">Upload file</button>
                                    {% if url %}
                                        <p> Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
                                    {% endif %}
                                </div>
                        </div>
                        <!--end: Form Wizard Step 4-->
                        <!--begin: Form Wizard Step 5
                        <div class="kt-wizard-v2__content" data-ktwizard-type="step-content">
                            <div class="kt-heading kt-heading--md">Finalize your request</div>
                            <div class="kt-separator kt-separator--height-xs"></div>
                            <div class="kt-form__section kt-form__section--first">
                                <h>Name: </h>
                                <p>{{ user.username }}</p>
                                <h>Date: </h>
                                
                                <h>Reason: </h>

                            </div>
                        </div> -->
                        <!--end: Form Wizard Step 5-->
                        <!--begin: Form Actions -->
                        <div class="kt-form__actions">
                            <div class="btn btn-outline-brand btn-md btn-tall btn-wide btn-bold btn-upper" data-ktwizard-type="action-prev"> Previous </div>
                            <div class="btn btn-brand btn-md btn-tall btn-wide btn-bold btn-upper" data-ktwizard-type="action-submit" value="new leave"> Submit </div>
                            <div class="btn btn-brand btn-md btn-tall btn-wide btn-bold btn-upper" data-ktwizard-type="action-next"> Next Step </div>
                        </div>
                        <!--end: Form Actions -->
                    </form>
                    <!--end: Form Wizard Form-->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}