{% extends 'nexus/layout.html' %}
{% load static %}
{% load fullcalendar_tags %}
{% load table_tags %}
{% block content %}
<div class='row'>
    <div class='col'>
        <div class='kt-portlet'>
            <div class='kt-portlet__head'>
                <div class='kt-portlet__head-label'>
                    <h3 class='kt-portlet__head-title'>Guard<h3>
                </div>
                <div class='kt-portlet__head-toolbar'>
                    <div class='kt-portlet__head-group'>
                        <div class='btn-group'>
                            <button type='button' class='btn btn-pill'></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='kt-portlet__body'>
                <h1 class='guard-name__placeholder'>Click a guard</h1>
            </div>
            <div class='kt-portlet__foot'>
                <div class='row align-items-center'>
                    <div>Hi</div>
                </div>
            </div>
        </div>
        <div class='kt-portlet'>
            <div class='kt-portlet__head'>
                <div class='kt-portlet__head-label'>
                    <h3 class='kt-portlet__head-title'>Guard<h3>
                </div>
                <div class='kt-portlet__head-toolbar'>
                    <div class='kt-portlet__head-group'>
                        <div class='btn-group'>
                            <button type='button' class='btn btn-pill'></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='kt-portlet__body'>
                <div class='kt_datatable kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded' id='local_data'>
                    <script>
                    $(function() {

                        $('#calendar').append('<p>Select a guard</p>');

                        var csrftoken = Cookies.get('csrftoken');
                        function csrfSafeMethod(method) {
                            // these HTTP methods do not require CSRF protection
                            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                        }
                        $.ajaxSetup({
                            beforeSend: function(xhr, settings) {
                                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                }
                            }
                        });

                        var calopt = {
                            plugins: [ 'interaction' ],
                            selectable: true,
                            eventClick: function(info) {
                                $('#date-summary').text('Shift on ' + info.start.format("D-M-Y"));
                                var hours_worked = (info.end - info.start) / 3600000;
                                $('#date-hours_worked').text(info.start.format("HH:mm") + " to " +info.end.format("HH:mm") + " for " + hours_worked + " hours");
                            }
                            //unselect: function( jsEvent, view ) {
                            //    $('#date-summary').text('cleared')
                            //    $('#date-hours_worked').text('')
                            //}
                        };
                        $('#calendar').fullCalendar(calopt)

                        var eventLoaded = false;

                        var dtopt = {
                            "initComplete": function() {
                                console.log('Table rendered.');
                                $(document).on('click', 'tbody tr', function() {
                                    
                                    id = $(this).attr('id');
                                    $.ajax({
                                        type: 'POST',
                                        url: "{% url 'attd-register-attd' %}",
                                        data: {'p_id': id},
                                        success: function(response) {
                                            $('.guard-name__placeholder').text(response.text);
                                            $('#calendar').fullCalendar('removeEvents');
                                            $('#calendar').fullCalendar('addEventSource', response.shift_data);
                                            $('#calendar').fullCalendar('refetchEvents');
                                            $('#date-summary').text('')
                                            $('#date-hours_worked').text('')
                                        }
                                    });
                                });
                            }
                            
                        };
                        var dt = datatableview.initialize($('.datatable'), dtopt);
                        var table = dt.api;
                    }); 
                    </script>
                    {{ datatable }}
                </div>
            </div>
            <div class='kt-portlet__foot'>
                <div class='row align-items-center'>
                    <div>Hi</div>
                </div>
            </div>
        </div>
    </div>
    <div class='col-6'>
        <div class='kt-portlet'>
            <div class='kt-portlet__head'>
                <div class='kt-portlet__head-label'>
                    <h3 class='kt-portlet__head-title'>Calendar Goes Here<h3>
                </div>
                <div class='kt-portlet__head-toolbar'>
                    <div class='kt-portlet__head-group'>
                        <div class='btn-group'>
                            <button type='button' class='btn btn-pill'></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='kt-portlet__body'>
                <script>
                
                </script>
                <div id='calendar'></div>
            </div>
            <div class='kt-portlet__foot'>
                <div class='row align-items-center'>
                    <div>Hi</div>
                </div>
            </div>
        </div>
    </div>
    <div class='col'>
        <div class='kt-portlet'>
            <div class='kt-portlet__head'>
                <div class='kt-portlet__head-label'>
                    <h3 class='kt-portlet__head-title'>Payroll<h3>
                </div>
                <div class='kt-portlet__head-toolbar'>
                    <div class='kt-portlet__head-group'>
                        <div class='btn-group'>
                            <button type='button' class='btn btn-pill'></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='kt-portlet__body'>
                <div id='date-summary'>Test</div>
                <div id='date-hours_worked'></div>
            </div>
            <div class='kt-portlet__foot'>
                <div class='row align-items-center'>
                    <div>Hi</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}