{% extends 'nexus/layout.html' %}
{% load fullcalendar_tags %}
{% block content %}
<div class='row'>
    <div class='col'>
        <div class='kt-portlet'>
            <div class='kt-portlet__head'>
                <div class='kt-portlet__head-label'>
                    <h3 class='kt-portlet__head-title'>Guard<h3>
                </div>
                <div class='kt-portlet__head-toolbar'>
                    <div class='kt-portlet__head-group'>
                        <div class='btn-group'>
                            <button type='button' class='btn btn-pill'></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='kt-portlet__body'>
                <h1>{{ user.username }}</h1>
            </div>
            <div class='kt-portlet__foot'>
                <div class='row align-items-center'>
                    <div>Hi</div>
                </div>
            </div>
        </div>
    </div>
    <div class='col-6'>
        <div class='kt-portlet'>
            <div class='kt-portlet__head'>
                <div class='kt-portlet__head-label'>
                    <h3 class='kt-portlet__head-title'>Calendar Goes Here<h3>
                </div>
                <div class='kt-portlet__head-toolbar'>
                    <div class='kt-portlet__head-group'>
                        <div class='btn-group'>
                            <button type='button' class='btn btn-pill'></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='kt-portlet__body'>
                
                <script type='text/javascript'>
                    $(function() {

                        var csrftoken = Cookies.get('csrftoken');
                        function csrfSafeMethod(method) {
                            // these HTTP methods do not require CSRF protection
                            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                        }
                        $.ajaxSetup({
                            beforeSend: function(xhr, settings) {
                                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                }
                            }
                        });
                        
                        $('#calendar').fullCalendar({
                            plugins: [ 'interaction' ],
                            selectable: true,
                            dayClick: function(date, jsEvent, view) {
                                //alert('Clicked on: ' + date.format());
                                // change the day's background color just for fun
                                
                                $(this).toggleClass("day-highlight");
                                //$('#salary-summary span').text('today is ' + date.format());
                                date_clicked = date.format();
                                $.ajax({
                                    type : 'POST',
                                    url :  "{% url 'attd-register-attd' %}",
                                    data : {'date_clicked': date_clicked},
                                    success : function(response){
                                    //reset the form after successful submit
                                        console.log('success')
                                        console.log(this.response)
                                        $('#date-summary').text(response.data)
                                        $('#date-hours_worked').text(response.hours_worked)
                                    },
                                    error : function(response){
                                        console.log(response)
                                    }
                                });
                            },
                            unselect: function( jsEvent, view ) {
                                $('#date-summary').text('cleared')
                                $('#date-hours_worked').text('')
                            }
                        })
                    });
                </script>
                {% comment %} {% calendar_init fc_json %}
                {% calendar %} {% endcomment %}
                <div id='calendar'></div>
            </div>
            <div class='kt-portlet__foot'>
                <div class='row align-items-center'>
                    <div>Hi</div>
                </div>
            </div>
        </div>
    </div>
    <div class='col'>
        <div class='kt-portlet'>
            <div class='kt-portlet__head'>
                <div class='kt-portlet__head-label'>
                    <h3 class='kt-portlet__head-title'>Payroll<h3>
                </div>
                <div class='kt-portlet__head-toolbar'>
                    <div class='kt-portlet__head-group'>
                        <div class='btn-group'>
                            <button type='button' class='btn btn-pill'></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='kt-portlet__body'>
                <div id='date-summary'>Test</div>
                <div id='date-hours_worked'></div>
            </div>
            <div class='kt-portlet__foot'>
                <div class='row align-items-center'>
                    <div>Hi</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}