
<!-- begin:: Aside Menu -->
<div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
	<div id="kt_aside_menu" class="kt-aside-menu " data-ktmenu-vertical="1" data-ktmenu-scroll="1" data-ktmenu-dropdown-timeout="500">
		<ul class="kt-menu__nav">

			<li class="kt-menu__section">
                <h4 class="kt-menu__section-text">Attendance Module</h4>
                <i class="kt-menu__section-icon flaticon-more-v2"></i>
            </li>

			<li class="kt-menu__item">
				<a href="{% url 'dashboard' %}" class="kt-menu__link ">
					<i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
					<span class="kt-menu__link-text">Attendance Overview</span>
				</a>
			</li>
{% comment %} 
			<li class="kt-menu__item">
				<a href="{% url 'attd-manage-attendance' %}" class="kt-menu__link ">
					<i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
					<span class="kt-menu__link-text">Manage Attendance</span>
				</a>
			</li>

			<li class="kt-menu__item">
				<a href="{% url 'attd-manage-attendance' %}" class="kt-menu__link ">
					<i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
					<span class="kt-menu__link-text">Verify Attendance</span>
				</a>
			</li>

			
			<li class="kt-menu__item">
				<a href="{% url 'attd-employee-leave-request' %}" class="kt-menu__link">
					<i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
					<span class="kt-menu__link-text">Leave Request</span>
				</a>
			</li>

			<li class="kt-menu__item">
				<a href="{% url 'attd-approve-leave' %}" class="kt-menu__link">
					<i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
					<span class="kt-menu__link-text">Leave Manager</span>
				</a>
			</li>

			<li class="kt-menu__section">
                <h4 class="kt-menu__section-text">Payroll Module</h4>
                <i class="kt-menu__section-icon flaticon-more-v2"></i>
            </li>

			<li class="kt-menu__item">
				<a href="{% url 'pay-overview' %}" class="kt-menu__link">
					<i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
					<span class="kt-menu__link-text">Payroll Overview</span>
				</a>
			</li>

			<li class="kt-menu__item">
				<a href="{% url 'pay-salary' %}" class="kt-menu__link">
					<i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
					<span class="kt-menu__link-text">My Salary (Employees)</span>
				</a>
			</li>

			<li class="kt-menu__item">
				<a href="{% url 'pay-payroll' %}" class="kt-menu__link">
					<i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>
					<span class="kt-menu__link-text">Payroll Recording (Manager)</span>
				</a>
			</li> {% endcomment %}
		</ul>

	</div>
</div>


<!-- end:: Aside Menu -->