{% extends 'nexus/layout.html' %}
{% load table_tags %}
{% block content %}
<div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="alert alert-light alert-elevate" role="alert">
        <div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
        <div class="alert-text"> With server-side processing enabled, all paging, searching, ordering actions that DataTables performs are handed off to a server where an SQL engine (or similar) can perform these actions on the large data set. See official documentation <a class="kt-link kt-font-bold" href="https://datatables.net/examples/data_sources/server_side.html" target="_blank">here</a>. </div>
    </div>
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__body">
            <!--begin: Datatable -->
            {% render_table table %}
            <!--end: Datatable -->
        </div>
    </div>
</div>
{% endblock content %}